
/* Muda a cor do título principal */
h1 {
  color: #074a24; /* Verde bioeconomia */
}

/* Cor dos subtítulos */
h2 {
  color: #1667a9; /* Azul suave */
}

/* Fundo da página */
body {
  background-color: #f5f5f5;
}

/* Cor dos links */
a {
  color: #006400;
}

/* Substitui o texto do rodapé */
footer.bd-footer .copyright {
  visibility: hidden;
  position: relative;
}

footer.bd-footer .copyright::after {
  content: "© 2025 Equipe Bioeconomia Amapá. Todos os direitos reservados.";
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}